<!-- views/partials/pĺanos-form.handlebars -->

<fieldset>
    <!-- title -->
    <div class="form-group">
        <label for="title">titulo</label><br>
        <input id="title" type="text" name="title" value="{{plano.title}}"/>
    </div>

    <!-- description -->
    <div class="form-group">
        <label for="description">descriçao</label><br>
        <textarea id="description" name="description" rows="10" />{{plano.description}}</textarea>
    </div>

</fieldset>