<!-- views/partials/sign-up-form.handlebars -->

<fieldset>
    <!-- username -->
    <div class="form-group">
        <label for="username">usuario</label><br>
        <input id="username" type="text" name="username" value="{{user.username}}"/>
    </div>

    <!-- password -->
    <div class="form-group">
        <label for="password">senha</label><br>
        <input id="password" type="password" name="password" value="{{user.password}}"/>
    </div>

</fieldset>